.btn{
  border-radius: 5px;
  background-color: var(--blue);
  border: none;
  width: 150px;
  height: 38px;
  transition: all 0.5s ease-in-out;
  margin-top: 10px;
}

.btn:hover{
  background-color: var(--bluelight);
}

.button_form{
  display: flex;
  justify-content: center;
}