.form_calc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number_calc{
  border-radius: 8px;
  border: none;
  width: 150px;
  height: 30px;
}

.box_form{
   display: flex;
   flex-direction: column;
}


