*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
}


:root{
  --lightGray: #E7ECEF;
  --Gray: #79868d;
  --blue: #7ac9ee;
  --bluelight: #9cd1e7;
}

.main, .body{
  background-color: var(--lightGray);
  line-height: 2;
}



