/*Header*/
.header{
  padding: 1rem;
}

.header--title{
  color:var(--blue);
  font-size: 1.2rem;  
}

.container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  width: 95vw;
  border-radius: 0.5rem;  
  padding: 1.7rem 0 0 0; /*Top - Right - Bottom - Left*/
}

.container--content{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
  background-color: #EBF0E9;
  padding: 1rem; /*Top - Right - Bottom - Left*/
}

.box--text{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.res{
  width: 100%;
  height: 2rem;
  font-size: 1.3em;
  font-weight: 900;
  color: var(--Gray);
  margin-top: 1rem;
}

#imagemResultado {
  height: 2rem; 
  margin: 0 0.8rem 0 0; /*Top - Right - Bottom - Left*/
}

/*geometric shapes*/
.shapes--title{
  color: #074868;
  font-size: 1.4em; 
}

.circle, .square, .oval, .rectangle{
  width: 5rem;
  height: 5rem;
  background-color: #A5D1E6;
  border: 4px solid var(--Gray);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0 0; /*Top - Right - Bottom - Left*/
}

.rectangle{
  width: 7rem;
}

.oval{
  width: 6rem;
  height: 5rem;
  border-radius: 50%;
}

.circle {
  border-radius: 7rem;
}

/*Medium --- 768px*/
@media(min-width:48rem){
  .container--content{
    display: flex;
    justify-content: space-around;
  }

  .circle, .square, .oval, .rectangle{
    width: 7rem;
    height: 7rem;
  }
  
  .rectangle{
    width: 9rem;
  }
  
  .oval{
    width: 9rem;
    height: 6rem;
  }
}

/*Large --- 992px*/
@media(min-width:68rem){
  .header--title {
    width: 60%;
    margin: auto;
    font-size: 1.6em;
    text-align: center;
  } 

  .container{
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
    padding: 1.3rem;
  }
  .container--content{
    padding: 0.5rem 0 0 0; /*Top - Right - Bottom - Left*/
  }
}