@media(min-width:62rem){
  .section{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
  }
}

/*
  Image
*/
#section--image{
  width: 100%;
  height: 10rem;
  background: url("/assets/image/pexels-photo-9044049.jpeg") no-repeat top/cover;
}

@media(min-width:48rem){
  #section--image{
    width: 100%;
    height: 20rem;
    background: url("/assets/image/pexels-photo-9044049.jpeg") no-repeat top/cover;
  }
}

@media(min-width:62rem){
#section--image{
  width: 40rem;
  height: 30rem;
  background: url("/assets/image/pexels-photo-9044049.jpeg") no-repeat top/cover;
}
}

/*
  Text
*/

.form--title{
  color: var(--blue);
  font-size: 1.8rem;
  text-transform: uppercase;
}

.form--subtitle{
  font-size: 1em;
  margin: 0 0 1rem 0; /*Top - Right - Bottom - Left*/
}

@media(min-width:62rem){
  .form--title{
    font-size: 2.5rem;
  }
}

/*
  Links
*/

.link{
  color: var(--Gray);
  transition: all 0.5s ease-in-out;
}

.link:hover{
  text-decoration: underline;
}


/*
  Form Buttom
*/

.btn{
  border-radius: 0.5rem;
  background-color: var(--blue);
  border: none;
  width: 10rem;
  height: 2.3rem;
  color: white;
  font-size: 1.2em;
}

.btn:hover{
  background-color: var(--bluelight);
}

/*form*/

.container--form{
  width: 90%;
  margin: auto;
  height: 30rem;
}

input[type=text]{
  text-align: center;
}

input[type=text], select {
  height: 2.3rem;
  width: 90%;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  font-size: 1em;
  margin: 0.5rem 0 0.5rem 0; /*Top - Right - Bottom - Left*/
}

input[type=text], select {
  height: 2.3rem;
  width: 100%;
  margin: 0.8rem 0 0.8rem 0; ; /*Top - Right - Bottom - Left*/
}

@media(min-width:62rem){
  .container--form{
    padding: 2rem 0 0 4rem;
    margin: 0;
    width: 40rem;
    height: 30rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.199);
  }

  input[type=text], select {
    width: 50%;
  }

}

/*

*/

.s-formats--image{
  background: url("/assets/image/enis-yavuz-JhcQHSBMask-unsplash.jpg") no-repeat bottom/cover;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-formats--container{
  width: 95%;
  margin: 1rem auto;   /* Top/Bottom - Right/Left*/
}

.s-formats--form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
}

.s-formats--title{
  font-size: 1.3em;
  color: white;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
  text-align: center;
  letter-spacing: 0.2rem;
}

.s-formats--subtitle{
  font-size: 1em;
  margin: 1rem 0 1rem 0; /*Top - Right - Bottom - Left*/
  text-align: center;
}

.text{
  text-align: center;
  padding: 1rem;
}

.circle, .square{
  width: 7rem;
  height: 7rem;
  background-color: var(--bluelight);
  border: 4px solid var(--Gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  border-radius: 7rem;
}

.image--icon{
  width: 1.8rem;
}

.text--icon{
  margin: 1rem 0 0 0;/* Top - Right - Bottom - Left*/
  font-size: 1.3em;
  text-align: center;
}

.button--form{   
  display: flex;
  justify-content: center;
  margin: 1rem 0 1.5rem 0; /* Top - Right - Bottom - Left*/
}


@media(min-width:62rem){
  .s-formats--image{
    height: 70vh;
  }

  .s-formats--title{
    font-size: 2.9em;
  }

  .s-formats--subtitle{
    font-size: 1.8em;
    margin: 1.8rem 0 1.8rem 0; /*Top - Right - Bottom - Left*/
  }

  .s-formats--container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 90%;
    margin: 2rem auto;    /* Top/Bottom - Right/Left*/
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.096);
  }

  .s-formats--form-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
  }

  .button--form{
    margin: 1rem 0 2rem 0; /* Top - Right - Bottom - Left*/
  }
}