/*
--Images
--Links
--Texts
--form
--section/containers

*/


/*
  ********
  Images
  *********
*/

#section--image{
  width: 100%;
  height: 10rem;
  background: url("/assets/image/pexels-photo-9044049.jpeg") no-repeat top/cover;
}

.image--icon{
  width: 1.8rem;
}

.s-formats--image{
  background: url("/assets/image/enis-yavuz-JhcQHSBMask-unsplash.jpg") no-repeat bottom/cover;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Medium --- 768px*/
@media(min-width:48rem){
  #section--image{
    width: 100%;
    height: 20rem;
  }
}

/*Large -- 992px*/
@media(min-width:62rem){
 #section--image{
  height: 34rem;
 }  

 .s-formats--image{
    height: 50vh;
  }
}

/*
  *******
  Links
  *******
*/

.link{
  color: var(--Gray);
  transition: all 0.5s ease-in-out;
}

.link:hover{
  text-decoration: underline;
}

/*
  ******
  Texts
  ******
*/

.form--title{
  color: var(--blue);
  font-size: 1.8em;
  text-transform: uppercase;
}

.form--subtitle{
  font-size: 1em;
  margin: 0 0 1rem 0; /*Top - Right - Bottom - Left*/
}

.s-formats--title{
  font-size: 1.3em;
  color: white;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
  text-align: center;
  letter-spacing: 0.2rem;
}

.s-formats--subtitle{
  font-size: 1em;
  margin: 1rem 0 1rem 0; /*Top - Right - Bottom - Left*/
  text-align: center;
}

.text{
  text-align: center;
  padding: 1rem;
}

.text--icon{
  margin: 1rem 0 0 0;/* Top - Right - Bottom - Left*/
  font-size: 1.3em;
  text-align: center;
}

/*Large -- 992px*/
@media(min-width:62rem){
 .form--title{
   font-size: 2.5rem;
 }  
 
 .s-formats--title{
    font-size: 2.9em;
  }

  .s-formats--subtitle{
    font-size: 1.8em;
    margin: 1.8rem 0 1.8rem 0; /*Top - Right - Bottom - Left*/
  }
}

/*
  *******
  Form
  *******
*/

.select, .number, .squard--input, .circle--input {
  height: 2.3rem;
  width: 90%;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  font-size: 1em;
  margin: 0.5rem 0 0.5rem 0; /*Top - Right - Bottom - Left*/
}

.btn{
  border-radius: 0.5rem;
  background-color: var(--blue);
  border: none;
  width: 10rem;
  height: 2.3rem;
  color: white;
  font-size: 1.2em;
}

.btn:hover{
  background-color: var(--bluelight);
}

.button--form{   
  margin: 1rem 0 1rem 0; /* Top - Right - Bottom - Left*/
}

@media(min-width:48rem){
  .form--calc-circle, .form--calc-squard, .form {
    display: flex;
    flex-direction: column;
  }

  .button--form{
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem 0; /* Top - Right - Bottom - Left*/
  }
}

@media(min-width:48rem){

  .button--form{
    display: flex;
    justify-content: start;
  }
}

/*Section/containers*/
.section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.s-formats--container{
  width: 95%;
  margin: 1rem auto;   /* Top/Bottom - Right/Left*/
}

.s-formats--form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 1rem 0; /*Top - Right - Bottom - Left*/
}

.circle, .square{
  width: 7rem;
  height: 7rem;
  background-color: var(--bluelight);
  border: 4px solid var(--Gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  border-radius: 7rem;
}

.s--box-text{
  padding: 0.5rem;
}

/*Medium --- 768px*/
@media(min-width:48rem){
  .s--box-text{
    padding: 2rem;
  }  

  .s-formats--form-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
  }  
}

/*Large --- 992px*/
@media(min-width:68rem){
  .s-formats--container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
    margin: 2rem auto;    /* Top/Bottom - Right/Left*/
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.096);
  }

  .s--container{
    margin: 0;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.199);
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0 0 2rem 0; /*Top - Right - Bottom - Left*/
  } 

  .s--box-text{
    padding: 3rem;
  }
}

/*

Foto de Pixabay: https://www.pexels.com/pt-br/foto/corpo-de-agua-261403/

Foto de Kindel Media: https://www.pexels.com/pt-br/foto/aereo-antena-garoto-menino-9044048/

Foto de Kindel Media: https://www.pexels.com/pt-br/foto/mar-aberto-garoto-menino-rapaz-9044071/

*/